<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Dhew_System_Server</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>login.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.dhew_server.servlet.android.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.dhew_server.servlet.android.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/servlet/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InfoServlet</servlet-name>
    <servlet-class>com.dhew_server.servlet.android.InfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoServlet</servlet-name>
    <url-pattern>/servlet/InfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UrgeServlet</servlet-name>
    <servlet-class>com.dhew_server.servlet.android.UrgeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UrgeServlet</servlet-name>
    <url-pattern>/servlet/UrgeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ClientMemberServlet</servlet-name>
    <servlet-class>com.dhew_server.servlet.android.ClientMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientMemberServlet</servlet-name>
    <url-pattern>/servlet/ClientMemberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetUrgeServlet</servlet-name>
    <servlet-class>com.dhew_server.servlet.android.GetUrgeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUrgeServlet</servlet-name>
    <url-pattern>/servlet/GetUrgeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUrgeServlet</servlet-name>
    <servlet-class>com.dhew_server.servlet.android.UpdateUrgeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUrgeServlet</servlet-name>
    <url-pattern>/servlet/UpdateUrgeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CarServlet</servlet-name>
    <servlet-class>com.dhew_server.servlet.android.CarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarServlet</servlet-name>
    <url-pattern>/servlet/CarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCarServlet</servlet-name>
    <servlet-class>com.dhew_server.servlet.android.GetCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCarServlet</servlet-name>
    <url-pattern>/servlet/GetCarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateCarServlet</servlet-name>
    <servlet-class>com.dhew_server.servlet.android.UpdateCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCarServlet</servlet-name>
    <url-pattern>/servlet/UpdateCarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CompanyServlet</servlet-name>
    <servlet-class>com.dhew_server.servlet.android.CompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyServlet</servlet-name>
    <url-pattern>/servlet/CompanyServlet</url-pattern>
  </servlet-mapping>
</web-app>